@charset "utf-8";

/* import */

* {margin: 0;padding: 0;}

body {font-family:  sans-serif;}

#wrap {position:relative;width: 100vw;height: 100vh;background: linear-gradient(-45deg, #ef5777, #3c40c6);cursor: default;}

#data-area{position: absolute; top: 15vh; left: 5vw;  text-align: center;}
#day{width: 100%; font-size: 4vmin;  color: #fff; text-shadow: 2px 2px rgba(0,0,0,0.2);}
#time{padding-top: 5px;font-size: 6vmin; color: #fff; text-shadow: 2px 2px rgba(0,0,0,0.2);}

#greetings-form{position: absolute; top: 30px; left: 50%; transform: translateX(-50%);width: 100%;text-align: center;}
#greetings-form input{width: 300px; height: 30px; padding: 5px;border:0; border-bottom: 3px solid #fff; background-color: transparent;text-align: center;font-size: 1.6em;color:#fff;}
#greetings-form input::placeholder{font-size: 1em;color:#fff;}
#greeting{position: absolute; top: 30px; left: 50%; transform: translateX(-50%);}
#greeting .icon{display: inline-block;-webkit-animation: shake 0.6s infinite alternate;animation: shake 0.6s infinite alternate;-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}

#todo-area{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
#todo-form input{width: 300px; height: 30px; padding: 5px;border:0; border-bottom: 3px solid #fff; background-color: transparent;text-align: center;font-size: .9em;color:#fff;}
#todo-form input::placeholder{font-size: 1em;color:#fff;}
#todo-list{height: auto; max-height: 300px; padding: 10px; overflow-y: auto; box-sizing: border-box;}
#todo-list::-webkit-scrollbar {width: 10px;}
#todo-list::-webkit-scrollbar-thumb {background-color: #2f3542;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
#todo-list::-webkit-scrollbar-track {background-color: grey;border-radius: 10px;box-shadow: inset 0px 0px 5px white;}
#todo-list li{display: flex; margin-top: 10px; padding: 5px 10px; background-color:#fff; border-radius: 5px; box-shadow: 2px 2px 2px #909090; font-size: .9em; justify-content: space-between;}
#todo-list li button{border:none; background-color: transparent; font-size: 1.4em; color: #4caf50;}

#quote-area{position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;}
#quote-area span{display: block; font-size: 1em; color: #fff; text-shadow: 2px 2px rgba(0,0,0,0.2);}

#weather{position: absolute; top: 3vh; right: 3vw;}
#weather span{font-size: 1em; color: #fff; text-shadow: 2px 2px rgba(0,0,0,0.2);}

.hidden{display:none;}
input:focus-visible{outline: none;}

@-webkit-keyframes shake {
    0% {-webkit-transform: rotateZ(3deg);}
    100% {-webkit-transform: rotateZ(-3deg);}
}
@keyframes shake {
    0% {-webkit-transform: rotateZ(3deg);transform: rotateZ(3deg);}
    100% {-webkit-transform: rotateZ(-3deg);transform: rotateZ(-3deg);}
}